---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Work</title>
	</head>
	<body>

        <!-- Dynamically Inject -->
		<Navigation />

		<h1>The Work</h1>
        <p>All the stuff I've done.</p>

        <ul>
            <li>
                <a href="/posts/project-1/">Project 1</a>
            </li>
            <li>
                <a href="/posts/project-2/">Project 2</a>
            </li>
        </ul>

	</body>
</html>